a{
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    font-style: ;
    color: rgb(224, 210, 210);
    text-shadow: 2px 2px 50px rgb(24, 20, 20);
    position: absolute;
    bottom: 120px;
    right: 280px;
    height: 10px;
   
    text-decoration: none;
}